# Python and Data
This assignment will introduce you to using python and pandas inside a jupyter notebook for data exploration and manipulation.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')

1. Write the required python code to load the data file `temperature.csv` into a pandas dataframe.

In [2]:
import pandas as pd
df = pd.read_csv('temperature.csv')

2. Write the required python code display the first 10 values of your dataframe.

In [3]:
df.head(10)
# print(df[0:10])

                        date        nodeid  temperature
0  2018-07-15 00:00:02-05:00  001e0610b9e9        32.10
1  2018-07-15 00:00:02-05:00  001e0610e537        27.10
2  2018-07-15 00:00:03-05:00  001e0610ee61        26.70
3  2018-07-15 00:00:03-05:00  001e061135cb        25.40
4  2018-07-15 00:00:03-05:00  001e06113f54        53.20
5  2018-07-15 00:00:03-05:00  001e06115365        60.60
6  2018-07-15 00:00:04-05:00  001e061144be        52.80
7  2018-07-15 00:00:05-05:00  001e0610ee41        26.25
8  2018-07-15 00:00:05-05:00  001e0610ee43        24.80
9  2018-07-15 00:00:06-05:00  001e0610bc12        57.80

3. Write the required python code to `describe` your dataframe, this will show the count, mean, standard deviation, minimum and maximum value, as well as the percentiles (0.25, 0.5, 0.75) for the temperature column.

In [4]:
cnt = len(df.temperature) 
mn = df.temperature.mean()
std = df.temperature.std()
low = df.temperature.min()
high = df.temperature.max()
q25 = df.temperature.quantile(q=0.25)
q5 = df.temperature.quantile(q=0.5)
q75 = df.temperature.quantile(q=0.75)
print("Number of data points: \t%s" %cnt)
print("Minumum temperature: \t%s" %low)
print("Maximum temperature: \t%s" %high)
print("Average temperature: \t%s +- %s" %(mn,std))
print("25th percentile: \t%s" %q25)
print("50th percentile: \t%s" %q5)
print("75th percentile: \t%s" %q75)

Number of data points: 	940312
Minumum temperature: 	15.8
Maximum temperature: 	68.5
Average temperature: 	39.29067238319597 +- 12.96296318491709
25th percentile: 	27.2
50th percentile: 	35.3
75th percentile: 	51.3

4. Write the required python code to rename the "temperature" column to "Tc".

In [9]:
df.rename(columns={'temperature':'Tc'},inplace=True)
df.head()

                        date        nodeid    Tc
0  2018-07-15 00:00:02-05:00  001e0610b9e9  32.1
1  2018-07-15 00:00:02-05:00  001e0610e537  27.1
2  2018-07-15 00:00:03-05:00  001e0610ee61  26.7
3  2018-07-15 00:00:03-05:00  001e061135cb  25.4
4  2018-07-15 00:00:03-05:00  001e06113f54  53.2

5. Write the required python code to add a new column to the dataframe that represents the equivalent temperature value in fahrenheit, you will now three columns in your dataframe. One will represent the date, the celsius value (Tc) and fahrenheit (Tf).

In [12]:
df2 = pd.DataFrame(df.Tc*(9/5)+32, columns={'Tf'})
df.append(df2)

           Tc   Tf                       date        nodeid
0       32.10  NaN  2018-07-15 00:00:02-05:00  001e0610b9e9
1       27.10  NaN  2018-07-15 00:00:02-05:00  001e0610e537
2       26.70  NaN  2018-07-15 00:00:03-05:00  001e0610ee61
3       25.40  NaN  2018-07-15 00:00:03-05:00  001e061135cb
4       53.20  NaN  2018-07-15 00:00:03-05:00  001e06113f54
5       60.60  NaN  2018-07-15 00:00:03-05:00  001e06115365
6       52.80  NaN  2018-07-15 00:00:04-05:00  001e061144be
7       26.25  NaN  2018-07-15 00:00:05-05:00  001e0610ee41
8       24.80  NaN  2018-07-15 00:00:05-05:00  001e0610ee43
9       57.80  NaN  2018-07-15 00:00:06-05:00  001e0610bc12
10      28.05  NaN  2018-07-15 00:00:06-05:00  001e0610e532
11      26.20  NaN  2018-07-15 00:00:07-05:00  001e0610f05c
12      57.50  NaN  2018-07-15 00:00:08-05:00  001e06113cf1
13      52.60  NaN  2018-07-15 00:00:08-05:00  001e061146cb
14      46.20  NaN  2018-07-15 00:00:09-05:00  001e06109416
15      26.20  NaN  2018-07-15 00:00:09-05:00  001e061130f4
16      54.30  NaN  2018-07-15 00:00:09-05:00  001e061144c0
17      59.10  NaN  2018-07-15 00:00:10-05:00  001e0610eef2
18      56.10  NaN  2018-07-15 00:00:10-05:00  001e06113ad8
19      49.30  NaN  2018-07-15 00:00:10-05:00  001e0611462f
20      50.80  NaN  2018-07-15 00:00:11-05:00  001e0610e835
21      43.50  NaN  2018-07-15 00:00:11-05:00  001e06113a48
22      26.90  NaN  2018-07-15 00:00:12-05:00  001e0610bbff
23      28.05  NaN  2018-07-15 00:00:12-05:00  001e0610e809
24      31.00  NaN  2018-07-15 00:00:13-05:00  001e0610e540
25      26.20  NaN  2018-07-15 00:00:13-05:00  001e0610ef27
26      27.65  NaN  2018-07-15 00:00:14-05:00  001e0610f730
27      52.80  NaN  2018-07-15 00:00:14-05:00  001e06113acb
28      49.60  NaN  2018-07-15 00:00:15-05:00  001e0611537d
29      31.60  NaN  2018-07-15 00:00:16-05:00  001e0610ee36
...       ...  ...                        ...           ...
940282  39.00  NaN  2018-07-20 23:59:43-05:00  001e06113a48
940283  55.40  NaN  2018-07-20 23:59:44-05:00  001e06115365
940284  53.60  NaN  2018-07-20 23:59:45-05:00  001e06113cf1
940285  30.10  NaN  2018-07-20 23:59:47-05:00  001e0610b9e9
940286  48.20  NaN  2018-07-20 23:59:47-05:00  001e0610e835
940287  45.90  NaN  2018-07-20 23:59:47-05:00  001e061146d6
940288  44.90  NaN  2018-07-20 23:59:47-05:00  001e0611537d
940289  25.40  NaN  2018-07-20 23:59:48-05:00  001e0610e540
940290  21.45  NaN  2018-07-20 23:59:48-05:00  001e061135cb
940291  22.69  NaN  2018-07-20 23:59:49-05:00  001e0610bbff
940292  22.20  NaN  2018-07-20 23:59:49-05:00  001e0610ee82
940293  23.50  NaN  2018-07-20 23:59:49-05:00  001e0610f05c
940294  45.40  NaN  2018-07-20 23:59:50-05:00  001e06109f62
940295  23.40  NaN  2018-07-20 23:59:51-05:00  001e0610e532
940296  24.90  NaN  2018-07-20 23:59:51-05:00  001e0610e537
940297  53.20  NaN  2018-07-20 23:59:51-05:00  001e06113cff
940298  46.30  NaN  2018-07-20 23:59:51-05:00  001e06113d22
940299  16.10  NaN  2018-07-20 23:59:52-05:00  001e0610bbf9
940300  48.70  NaN  2018-07-20 23:59:52-05:00  001e061144c0
940301  22.20  NaN  2018-07-20 23:59:54-05:00  001e0610ba46
940302  23.55  NaN  2018-07-20 23:59:55-05:00  001e0610f730
940303  23.20  NaN  2018-07-20 23:59:56-05:00  001e0610ef27
940304  26.90  NaN  2018-07-20 23:59:57-05:00  001e0610ee5d
940305  52.10  NaN  2018-07-20 23:59:57-05:00  001e06113f54
940306  53.30  NaN  2018-07-20 23:59:58-05:00  001e0610bc12
940307  24.40  NaN  2018-07-20 23:59:59-05:00  001e0610ee36
940308  24.20  NaN  2018-07-20 23:59:59-05:00  001e0610eef4
940309  20.80  NaN  2018-07-20 23:59:59-05:00  001e061130f4
940310  44.50  NaN  2018-07-20 23:59:59-05:00  001e0611536c
940311  28.70  NaN  2018-07-21 00:00:00-05:00  001e0610ef73

[940312 rows x 4 columns]

6. Given the values of temperature, what can you say about the likely source of this data? Use the cell below to enter your answer, this will be text (you will need to convert the cell from code to markdown).

7. Write the required python code to change the index for the dataframe from numerically indexed dataframe to one of date using the date column. Make sure you drop the date column once you have created new index.

8. Write the required python code that will calculate the range of dates that this data covers.

9. Write the required python code to describe (count, mean, standard deviation, minimum and maximum value, as well as the percentiles (0.25, 0.5, 0.75)) grouped by `nodeid`.

10. Pick a node (e.g. *nodeid* = 001e061146ba) and write the required python code to extract the data for that node from the larger dataframe, display the last 10 items.

11.Write the required python code to resample the data of the single node returning the mean (average) for each day.

12. How many days worth of data is produced in the resampling? (you will need to convert the cell from code to markdown)

13. Write the required python code to resample the data of the single node returning the mean for each hour, display the first 24 values.

---
# Switching Dataset (London Air - www.londonair.org.uk)
Exploration of data that has potential problems.
BG1 == Barking and Dagenham - Rush Green
BQ7 == Bexley - Belvedere West
Date: January 01, 2017 - February 01, 2017

This data represents rainfall measurements at two locations within London and is measured in millimeters (mm).

I have **modified** this data for purpose of learning (that is I introduced errors).

14. Write the required python code to load the new dataset `london-rain.csv` for exploration, then using  `describe()` function what can you say about the data (enter your written answer in cell below your code, you will need to add a cell and change the cell type to markdown).

15. You should have noticed that there are no headers associated with the data, write the required python code to add appropriate headers to data (site, variable, date, value, units, type) and display the result of the `describe` function.

16. What is the average value of rainfall (enter your written answer in cell below your code, you will need to change the cell type to markdown), does this value seem reasonable?

17. What is the minimum value of rainfall (enter your written answer in cell below your code, you will need to change the cell type to markdown), does this value seem reasonable?

18. What is the maximum value of rainfall (enter your written answer in cell below your code, you will need to change the cell type to markdown), does this value seem reasonable?

19. Write the required python code to discover if there are any missing values in the rain dataset.

20. How many rows have missing values? You will need two cells, one for required python code and a second one converted to markdown to write your answer.

21. Write the rquired python code to remove the rows with missing values.

22. Write the required python code to convert the index from simple number to the date column, remove the date column.

23. Write the required python code to write out new cleaned dataset with the file name "london-rain-clean.csv".